 
<h1 style="margin-left: 400px;">Formulário para cadatrar pagamento</h1>
<div style="padding:3px; margin-left: 400px;width: 500px; height 400px; background-color:cadetblue">
    <form action="/add-pagamento" method="POST" id="cad">
        <label>Nome</label>
        <input type="text" name="nome"><br><br>

        <label>Valor</label>
        <input type="text" name="valor"><br><br>

        <button type="submit" style="margin-left:405px">Cadastrar</button>
        
    </form>
</div>

