<h1>Formulário para editar pagamento</h1>
<div style="background-color:goldenrod;padding:13px;">
    <form action="/update-pagamento/{{id}}" method="POST">
        <label>Nome</label>
        <input type="text" name="nome" value="{{nome}}"><br><br>

        <label>Valor</label>
        <input type="text" name="valor" value="{{valor}}"><br><br>

        <button type="submit">Editar</button>
    </form>
</div>